/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background-image: url('../img/school background search.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.overlay-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.overlay-content {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.card {
    background-color: rgba(255, 255, 255, 0.95); /* light background with contrast */
    border-radius: 12px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.Navigation {
    background-color: skyblue;
}


@media (max-width: 768px) {
    #background {
        min-height: 200px;
        padding: 1rem;
    }
}
